*{
    box-sizing: border-box;
    /* padding-left: 22px; */
}
.container{
    width: 1300px;
    height: 500px;
    display: flex;
    justify-content: center;
}
.form-section{
    width: 400px;
    height: 500px;
    box-shadow: 0 0 5px 0 rgb(141,141,190);
}
.form-section h1{
    text-align: center;
    margin: 0 0 20px;
    padding-top: 20px;
    font-size: 24px;
}
.input{
    margin-bottom: 20px;
    position: relative;
}
.input .eeeee{
    margin-left: 23px;
}
.inputlable{
    display: block;
    margin-bottom: 10px;
}
.form-section input{
    width: 90%;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 15px;
    background-color: transparent;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
}
.input small{
    display: block;
    color: #e74c3c;
    font-weight: bold;
    font-size: 11px;
    padding-top: 3px;
    visibility: hidden;
}
.input .success input{
    border: 2px solid #2ecc71;
}
.input .error input{
    border: 2px solid #2ecc71;
}
.input .error small{
    visibility: hidden;
}
.btn{
    width: 90%;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    background-color: #3498db;
    border: 1 px solid #3498db;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #fff;
    display: block;
    font-size: 16px;
}